.counter button{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.counter{
    width: 170px;
}

.controllers{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}