h1{
    font-family: Gabriela, "Open Sans", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    color:  #ffffff ;
    background-color: #7273759f ;
}
