

.btn-primary{
    background-color: rgb(48, 194, 94);
    border-color: rgb(213, 20, 220);
    font-size: 0.8 rem;
}

.btn-primary:hover{
    background-color: rgb(170, 51, 197);
    border-color:  rgb(48, 194, 94);
}
